{% load static %}
<link rel="stylesheet" href="{% static 'css/produtos.css' %}">

<div class="container">
    <h2>Olá {{ user.username }}!</h2>

    <div class="top-bar">
        <button onclick="window.location.href='{% url 'criar-produto' %}'">Cadastrar novo produto</button>
        <button onclick="window.location.href='{% url 'criar-categoria' %}'">Cadastrar nova categoria</button>
        <button onclick="window.location.href='{% url 'adicionar-entrada' %}'">Adicionar Entrada</button>
        <button onclick="window.location.href='{% url 'adicionar-saida' %}'">Adicionar Saída</button>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </div>
    <form method='get'>
        <input type="text" name="pesquisa" placeholder="Pesquisar..." value="{{ request.GET.pesquisa }}">
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Altura</th>
                <th>Largura</th>
                <th>Peso</th>
                <th>Material</th>
                <th>Categorias</th>
                <th>Estoque de Segurança</th>
                <th>Estoque</th>
                <th>Status</th>
                <th>Ativo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.id }}</td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.descricao }}</td>
                <td>{{ produto.altura }}</td>
                <td>{{ produto.largura }}</td>
                <td>{{ produto.peso }}</td>
                <td>{{ produto.material }}</td>
                <td>
                    {% for categoria in produto.categorias.all %}
                        {{ categoria.nome }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        <em>Sem categorias</em>
                    {% endfor %}
                </td>
                <td>{{ produto.estoque_seguranca }}</td>
                <td>{{ produto.estoque_atual }}</td>
                <td>
                    {% if produto.estoque_atual < produto.estoque_seguranca %}
                        Alerta
                    {% else %}
                        OK
                    {% endif %}
                </td>
                <td>
                    {% if produto.is_active %}
                        Ativo
                    {% else %}
                        Inativo
                    {% endif %}
                </td>
                <td><button onclick="window.location.href='{% url 'editar-produto' produto.pk %}'">Editar</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
