
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Caixa do formulário */
form {
    background-color: #ffffff;
    padding: 25px 30px;
    border-radius: 10px;
    border: 1px solid #ddd;
    width: 320px;
}

/* Título */
form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Campos */
form p {
    margin-bottom: 15px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}


/* Botão */
button {
    width: 100%;
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* Hover do botão */
button:hover {
    background-color: #2563eb;
}