/* Centraliza e dá fundo neutro */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Caixa do login */
form {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px 35px;
    width: 300px;
}

/* Título opcional */
form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
}

/* Campos */
form p {
    margin-bottom: 15px;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}


/* Botão */
button {
    width: 100%;
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* Hover */
button:hover {
    background-color: #2563eb;
}